<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <getDataSourceNodeCommands>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetDatasourceNodeCommands.CreateCommand, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.Support.XA.Foundation.LocalDatasources.Pipelines.GetDatasourceNodeCommands.CreateCommand, Sitecore.Support.13655"/>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.GetDatasourceNodeCommands.CopyCommand, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.Support.XA.Foundation.LocalDatasources.Pipelines.GetDatasourceNodeCommands.CopyCommand, Sitecore.Support.13655"/>
      </getDataSourceNodeCommands>
    </pipelines>
  </sitecore>
</configuration>